<!DOCTYPE html>
<html lang="en">
<head>
    <title>index</title>
</head>
<body>

    <form action="/predict" method="POST">
        <label> AGE = </label> <input type="text" name ="age"><br><br>
        <label> Annual income = </label> <input type="text" name ="annul"><br><br>
        <label> Spending Score = </label> <input type="text" name ="score"><br><br>

        <input type="submit" value="PREDICT CLUSTER">



    </form>


    
    <form action="/predict1" method="POST">
        <label> AGE = </label> <input type="text" name ="age"><br><br>
        <label> Annual income = </label> <input type="text" name ="annul"><br><br>
        <label> Spending Score = </label> <input type="text" name ="score"><br><br>

        <input type="submit" value="PREDICT CLUSTER">



    </form>
    
</body>
</html>